@font-face {
  font-family: 'Hind Bold';
  src: url(../font/Hind-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind Regular';
  src: url(../font/Hind-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind SemiBold';
  src: url(../font/Hind-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind Light.ttf';
  src: url(../font/Hind-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../font/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('../font/MaterialIcons-Regular'),
       url(../font/MaterialIcons-Regular.woff2) format('woff2'),
       url(../font/MaterialIcons-Regular.woff) format('woff'),
       url(../font/MaterialIcons-Regular.ttf) format('truetype');
}
/* 
CORES

#111111 PRETO 1
#151B1F PRETO 2
#FFD301 AMARELO #FFC107
#F8F8F8 CINZA
#FFFFFF BRANCO
*/
.favoritar-produto-favorito{
  color: #FFC107 !important;
}
.favoritar-produto-favorito:hover{
  color: #111111 !important;
}
.favoritar-produto{
  color: #111111 !important;
}
.favoritar-produto:hover{
  color: #FFC107 !important;
}
.buzz-logo{
  width: 40px;
  height: auto;
}
.btn-outline-warning-2{
    color: #111111 !important;
}


.msg-sucesso{
   background-color: #2E93C0 !important;
   color: #1A2B3C !important;
}
.msg-erro{
}
.form-control:hover, .form-control{
    outline-color: #FFC107 !important;
    border-color: #FFC107 !important;
}
.form-control:active, .form-control:focus, .form-control:hover{
    box-shadow: none !important;
    outline-color: #FFC107 !important;
    border-color: #FFC107 !important;
}

.btn:focus {
    box-shadow: none;
}
label{
    color: #151B1F;
}
.label-ibhj{
    color: #151B1F;
}
.btn-ibhj-1{
   background-color: #185F8F !important;
   border-color: #185F8F !important;
   color: #ECECEC !important;
   transition: all 0.5s;
}
.btn-ibhj-1:hover{
   background-color: #2E93C0 !important;
   border-color: #2E93C0 !important;
}
.btn-ibhj-1:focus{
    background-color: #2E93C0 !important;

}
.cor-1{
    color: #1A2B3C !important;
}
.cor-2{
    color: #185F8F !important;
}
.cor-3{
    color: #2E93C0 !important;
}
footer a{
    color: #ECECEC !important;
}
.logo-menu{
    height: 30px !important;
    width: auto !important;
}
.nav-link{
    color: #FFC107 !important;
    
}
.nav-link:hover{
    color: #F8F8F8 !important;
}
.nav-link:active{
    color: #F8F8F8 !important;
}
.navbar-toggler{
  color: #FFC107 !important;
  outline: none !important;
  border: none !important;
}
.navbar-toggler:hover, .navbar-toggler:active, .navbar-toggler:focus{
  outline: none !important;
  border: none !important;
}
body{
    background-color: #111111 !important;
    font-family: Hind Regular;
}
.menu-logo{
  height: 40px !important;
  width: auto !important;
}
.footer1{
  background-color: #FFC107 !important;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
.footer2{
  color: #FFC107 !important;
  font-size: 9px !important;
  padding-top: 2.5%;
}
.page-link-ibhj{
    color: #111111 !important;
}
.page-link-ibhj-disabled{
    color: #ECECEC !important;
}
.page-link-ibhj-active{
    background-color: #FFC107 !important;
    color: #111111 !important;
    font-family: Hind Bold !important;
}
.pagination-text{
    color: #111111 !important;
}
.cor-menu{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#185f8f+94,1a2b3c+100 */
    background: none !important;
    font-family: Hind Bold !important;
    color: #1A2B3C !important;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1px;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.bg-cor-ibhj{
    background-color: #FFC107 !important;
    color: #111111 !important;
    font-family: Hind SemiBold !important;
}
.border-cor-ibhj{
    border-color: #FFC107 !important;
}
.material-icons {
    vertical-align: middle;
}
.btn-pequeno{
    font-size: 16px !important;
}
.ibhj-sort{
    color: #151B1F !important;
}
.ibhj-sort:hover{
    color: #F8F8F8 !important;
    text-decoration: none !important; 
}
.ibhj-header-tabela{
    
}
footer{
  
}
@media (max-width: 990px) {
        .cor-menu{
	    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#185f8f+94,1a2b3c+100 */
	    
	    font-family: Hind Bold !important;
	    color: #FFC107 !important;
	}
	
}