@font-face{
    font-family: 'JuliusSansOne-Regular';
    src: url('../font/JuliusSansOne-Regular.ttf');
}
/* 
#111111 PRETO 1
#151B1F PRETO 2
#FFD301 AMARELO
#F8F8F8 CINZA
#FFFFFF BRANCO
*/
.footer1, header{
    display: none !important;
}
.cor-menu{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#185f8f+94,1a2b3c+100 */
    background: none !important;
    font-family: Hind Bold !important;
    color: #1A2B3C !important;
}
.body{
    background: none !important;
}
.nav-link{
    color: #151B1F !important;
}
.nav-link:hover{
    color: #FFC107 !important;
}
.nav-link:active{
    color: #FFC107 !important;
}
.slogan{
    padding-top: 5% ;
}
.slogan-home-p1{
    color: #185F8F !important;
    animation-delay: 1.5s; 
    text-shadow: 3px 3px 10px rgba(0,0,0,0.3); 
    font-family: JuliusSansOne-Regular; 
    font-size: 4.5em; 
    text-align: center;
    margin-top: 10px
}
.slogan-home-p2{
    color: #1A2B3C !important;
    animation-delay: 1.8s; 
    text-shadow: 3px 3px 10px rgba(0,0,0,0.3);
    font-family: JuliusSansOne-Regular; 
    text-align: center; 
    font-size: 3.5em;
    margin-top: -10px
}
.slogan-home-p3{
    color: #2E93C0 !important;
    animation-delay: 3.3s; 
    text-shadow: 3px 3px 10px rgba(0,0,0,0.3); 
    color: white; 
    text-align: center;
    font-family: JuliusSansOne-Regular; 
    font-size: 5em; 
    margin-top: -30px
}
.home-coracao{
    color: #FFFFFF;/*rgba(255, 92, 92, 0.8);*/
    font-size: 100px;
    margin-top: -50px;
    
}