 <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="<?php echo $this->Url->build('/admcp/sair') ?>">Sair <span class="sr-only">(current)</span></a>
      </li>

    </ul>