<ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="<?php echo $this->Url->build('/') ?>">HOME <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-produtos" href="<?php echo $this->Url->build('/produtos') ?>">PRODUTOS</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="#contato">CONTATO</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/quem-somos">QUEM SOMOS</a>
                  </li>
                </ul>